<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Rsff.Db.ConnectionString" connectionString="Data Source=192.168.85.132;Initial Catalog=rsff;Persist Security Info=True;User ID=rsffdb;Password=firei$bad" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>