
@{
    ViewBag.Title = "Index";
}

<h2>Hello from the Home View Index.cshtml</h2>

<p>
<a href=@Url.RouteUrl("login")>Click here to login</a>
</p>

<p>
<a href="@Url.RouteUrl("projects")">Click here to go to the projects list page</a>
</p>
